.spider.components.table .pagination{
	display: inline-block;
	margin-bottom: 5px;
    margin-left: 20px;
}

.spider.components.table ul.pagination {
  list-style: none;
  overflow: hidden;
}

.spider.components.table .pagination .active a {
	font-size: 120%;
	font-weight: 700;
    cursor: default;
}

.spider.components.table .pagination li:first-child a, .spider.components.table .spider.components.table .pagination li:last-child a {
    border-left-width: 0;
    border-radius: 0;
}

.spider.components.table .pagination li:first-child a.prev, .spider.components.table .pagination li:first-child a.next{
    border-left-width: 1px;
    border-radius: 3px 0 0 3px;
}

.spider.components.table .btn-group{
	vertical-align: bottom;
}

.spider.components.table .sel_pagine{
	display: inline-block;
	margin-bottom: 10px;
	margin-left: 20px;
}

.spider.components.table .sel_pagine button{
	color: #049cdb;
}

.spider.components.table .dropdown-menu{
	min-width: 30px;
}

.spider.components.table .dropdown-menu.lista_pagine{
	max-height: 300px;
	overflow-y: scroll; 
}
